{% extends "bootstrap/base.html" %}
{% block title %}Home{% endblock %}
{% block styles %}
{{ super() }}
<link href = "../static/style.css" rel = "stylesheet" type = "text/css">
{% endblock %}

<body>
{% block navbar %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">

    <ul class="nav navbar-nav">
      <li><img href="/home" src="static/logo3.png" alt="Logo" style="width:60px;"></li>
      <li><a href="/home"></a></li>
      <li><a class="nav-link" href="/film_details">Films</a></li>
      <li><a class="nav-link" href="/book_tickets">Book Tickets</a></li>
      <li><a class="nav-link" href="/screenings">Screenings</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
  <li><a href="/basket"><span class="glyphicon glyphicon-shopping-cart"></span> Basket</a></li>
  <li><a href="/create_account"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
  {% if current_user.is_authenticated %}
  <li><a href="/home"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
  {% else %}
  <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
  {% endif %}
</ul>
  </div>
</nav>
{% endblock %}


{% block content %}

<!--Footer-->

<footer class="page-footer font-small unique-color-dark pt-0">

    <div style="background-color: #6351ce;">
        <div class="container">
            <!--Grid row-->
            <div class="row py-4 d-flex align-items-center">

            </div>
            <!--Grid row-->
        </div>
    </div>

    <!--Footer Links-->
    <div class="container mt-5 mb-4 text-center text-md-left">
        <div class="row mt-3">

            <!--First column-->
            <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>Team Heron</strong>
                </h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>This is Team Heron's submission for Software Project.</p>
            </div>

            <!--Second column-->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>Latest Films</strong>
                </h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="#!">Mad Max</a>
                </p>
            </div>
            <!--/.Second column-->

            <!--Third column-->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>Useful links</strong>
                </h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="/film_details">Films</a>
                </p>
                <p>
                    <a href="/book_tickets">Book Tickets</a>
                </p>
                <p>
                    <a href="/create_account">Sign up</a>
                </p>
                {% if current_user.is_authenticated %}
                <p>
                    <a href="/login">Sign out</a>
                </p>
                {% else %}
                <p>
                    <a href="#!">Sign in</a>
                </p>
                {% endif %}
            </div>
            <!--/.Third column-->

            <!--Fourth column-->
            <div class="col-md-4 col-lg-3 col-xl-3">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>Contact</strong>
                </h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <i class="fa fa-envelope mr-3"></i> heron@heron.com</p>
                <p>
                    <i class="fa fa-print mr-3"></i> + 044 7 78778  7878</p>
            </div>
            <!--/.Fourth column-->

        </div>
    </div>
    <!--/.Footer Links-->

    <!-- Copyright-->
    <div class="footer-copyright py-3 text-center">
        © 2018 Copyright:
        <a href="https://gitlab.com/comp2931/18/heron">
            <strong> Team Heron</strong>
        </a>
    </div>
    <!--/.Copyright -->

</footer>
<!--/.Footer-->

{% endblock%}
