{% extends "base.html" %}
{% block content %}

<head>
  <link href = "../static/style.css"  type = "text/css" rel = "stylesheet">
  <link href = "form-validation.css" rel = "stylesheet">
</head>

<div>
  <div class="container">
    <div class="py-5 text-center text-muted">
      <img class="d-block mx-auto mb-4" src="static/heronLogo.png" alt="" width="90" height="90">
      <h2><font color = "white">Change Password</font></h2>
    </div>

    <form action="/change_password" method="POST" style="margin-top: 100px" align="center">
        {{ form.hidden_tag() }}
        <a><tab1><font color = "orange"> Current Password </font></a></tab1>
        <p>{{ form.prev_password }}<br>
           {% for error in form.prev_password.errors %}
           <span style="color: red;">{{ error }}</span>
           {% endfor %}
        </p>
        <a><tab1><font color = "orange">New Password</font></tab1></a>
        <p>{{ form.new_password }}<br>
           {% for error in form.new_password.errors %}
           <span style="color: red;">{{ error }}</span>
           {% endfor %}
        </p>
        <a><tab1><font color = "orange"> Confirm New Password </font></a></tab1>
        <p>{{ form.confirmation }}<br>
           {% for error in form.confirmation.errors %}
           <span style="color: red;">{{ error }}</span>
           {% endfor %}
        </p>
        <p><input class = "btn btn-danger" type="submit" value="Change Password" style="margin-top: 5px"></p>
{% endblock %}
