<!-- <ul class="nav navbar-nav ml-auto" style="margin-top:0px;">
   <li class="nav-item"><a href="/profile" class="fa fa-user-circle-o" style="font-size:36px;center"></a></li>
   <li class="nav-item"><a href="/" class="fa fa-shopping-basket"  style="font-size:36px;center"><a></i>
   <li class="nav-item>"><form class="form-inline" action="/action_page.php">
      <input align="center"  type="text" name="search" placeholder="Search">
     </form>
   </li>
</ul>
</nav>
<div>
 {% with messages = get_flashed_messages() %}
 {% if messages %}
 <ul>
   {% for message in messages %}
   <li>{{ message }} </li>
   {% endfor %}
 </ul>
 {% endif %}
 {% endwith %}

</div>
<div>
<center>
 {% block content %}{% endblock %}
</center>
</div> -->
