
<!DOCTYPE html>
  {% extends "base.html" %}
   {% block content %}

      <div class="container-fluid" style="margin-top:20px"></div>
      <div class="container">
         <h2>Film Details</h2>
         <table class="table table-hover">
            <thead>
               <tr class="table-info">
                  <th>Film Name</th>
                  <th>Certificate</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  {% for t in filmDetails %}
               <tr>
                  <td>{{ t.filmName }}</td>
                  <td>{{t.filmCertificate  }}</td>
               </tr>
               {% endfor %}
               </tr>
            </tbody>
         </table>
      </div>


<!-- <style>
i{
  font-family:"Arial", Arial, serif;
}
</style> -->
<!-- <div>
  <h2 align = "center">User List</h2>
</div>
<body>
  {% for t in userList %}
    {{ t.email }}
  {% endfor %}
</body> -->





   </body>
</html>
{% endblock %}
