{% extends "base.html" %}
{% block title %}Films{% endblock %}
{% block content %}

<head>
  <link href = "../static/style.css"  type = "text/css" rel = "stylesheet">
  <link href = "form-validation.css" rel = "stylesheet">
</head>


<body>
  <div class="container">
    <div class="detail-row">
      <div style="margin-bottom:30px" class="detail-column">
        <a href="{{ url_for('film_details', passed='The Martian') }}">
        <img src="/static/portraits/The Martian.jpg" style="width:100%"></a>
        <a href="{{ url_for('film_details', passed='Inception') }}">
        <img src="/static/portraits/Inception.jpg" style="width:100%"></a>
        <a href="{{ url_for('film_details', passed='Interstellar') }}">
          <img src="/static/portraits/Interstellar.jpg" style="width:100%"></a>
      </div>
      <div class="detail-column">
        <a href="{{ url_for('film_details', passed='Paddington 2') }}">
        <img src="/static/portraits/Paddington 2.jpg" style="width:100%"></a>
        <a href="{{ url_for('film_details', passed='The Shape of Water') }}">
        <img src="/static/portraits/The Shape of Water.jpg" style="width:100%"></a>
        <a href="{{ url_for('film_details', passed='Black Panther') }}">
        <img src="/static/portraits/Black Panther.jpg" style="width:100%"></a>
      </div>

      <div class="detail-column">
        <a href="{{ url_for('film_details', passed='The Greatest Showman') }}">
        <img src="/static/portraits/The Greatest Showman.jpg" style="width:100%"></a>
        <a href="{{ url_for('film_details', passed='Jumanji: Welcome to the Jungle') }}">
        <img src="/static/portraits/jumanji.jpg" style="width:100%"></a>
        <a href="{{ url_for('film_details', passed='CoCo') }}">
        <img src="/static/portraits/CoCo.jpg" style="width:100%"></a>
      </div>
    </div>
  </div>
</body>
{{ super() }}
{% endblock %}
