{% extends "base.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<style>
  /* Make the image fully responsive */
  .carousel-inner img {
      width: 100%;
      height: 100%;

  }


  </style>

<body>

<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>
  </ul>

  <!-- The slideshow     <href="{{ url_for('film_details', passed='inception') }}"  -->
  <div class="carousel-inner" style="margin-top:0px">
    <div class="carousel-item active">
      <a href="{{ url_for('film_details', passed='The Martian') }}">
      <img src="/static/the-martian-home.jpg" alt="The Martian" width="1100" height="500"></a>
    </div>
    <div class="carousel-item">
      <a href="{{ url_for('film_details', passed='Inception') }}">
      <img src="/static/inception-home.jpg" alt="Inception" width="1100" height="500"></a>
    </div>
    <div class="carousel-item">
      <img src="/static/interstellar.jpg" alt="Interstellar" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="/static/mad_max.jpg" alt="Mad Max" width="1100" height="500">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>




</body>
</html>
{% endblock %}
