<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}


      <div>
       <!-- <pre align = "center">Log into Your Account</pre></br> -->
       <form action="" method="post" action="/login" align = "center">
         {{ form.hidden_tag() }}
         <a class= "font-weight-light" align = "center">Email </a>
         <p>{{ form.email }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
         </p>
         <a class= "font-weight-light" align = "center">Password </a>
         <p>{{ form.password }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
         </p>
         <button type="submit" class="btn; font-weight-light" value="Log In">Log In</button></br>
         <br><a href="/create_account">Create Account</a>


      </form>
    </div>
      {% endblock %}
