
{% block content %}
<style>
i{
  font-family:"Arial", Arial, serif;
}
</style>

<h2 align = "center">Order Tickets</h2>
<form action="/order_tickets" method="POST">
    {{ form.hidden_tag() }}
    <h5>  Standard Tickets </h5>
    <p>{{ form.standard_tickets }}<br>
       {% for error in form.standard_tickets.errors %}
       <span style="color: red;">{{ error }}</span>
       {% endfor %}
    </p>
    <h5>  OAP Tickets </h5>
    <p>{{ form.oap_tickets }}<br>
       {% for error in form.oap_tickets.errors %}
       <span style="color: red;">{{ error }}</span>
       {% endfor %}
    </p>
    <h5> Child Tickets </h5>
    <p>{{ form.child_tickets}}<br>
       {% for error in form.child_tickets.errors %}
       <span style="color: red;">{{ error }}</span>
       {% endfor %}
    </p>
    <h5>Enter Saved Card CVC </h5>
    <p>{{ form.cvc }}<br>
       {% for error in form.cvc.errors %}
       <span style="color: red;">{{ error }}</span>
       {% endfor %}
    </p>order
    <p><input class = "button" type="submit" value="Order Tickets"></p>
</form>

{% endblock %}
