<!DOCTYPE html>
  {% extends "base.html" %}
   {% block content %}
<style>
   h3 {
       color: #979497
   }
   body {
       color: #4582EC
   }
   }
   .container {
    color: #4582EC;
    background-color: #4582EC;
   	width:100%;
   	height:auto;
   	padding:1%;
   }
   .btn {
      background-color:#4582EC;
    }

</style>
  <body>
      <div class="container">
        <center>


        <div>
          <h3>Buy Tickets</h3>
          <h4>Film:</h4>
         <div>
           {{film.filmName}}
         </div>


      <div>
        <center>
        <form action="{{url_for('order_ticket')}}">
          <button class="btn btn-default" type="submit" name="buy" value="Order Tickets" style="margin-top: 5px">Order Ticket</button>
        </form>
      </center>
      </div>
    </center>
  </div>
   </body>
</html>
{% endblock %}
