<!DOCTYPE html>
  {% extends "base.html" %}
   {% block content %}
<style>
   h3 {
       color: #979497
   }
   body {
       color: #4582EC
   }
   }
   .container {
    color: #4582EC;
    background-color: #4582EC;
   	width:100%;
   	height:auto;
   	padding:1%;
   }
   .btn {
      background-color:#4582EC;
    }

</style>
  <body>
      <div class="container">


        <div>
          <h3>Buy Tickets</h3>
          <h4>Film:</h4>
         <div>
           {{film.filmName}}
         </div>
      </div>
  </div>
    <button class="btn btn-default" style="margin-top: 50px">Buy Tickets</button></a>
  </div>
   </body>
</html>
{% endblock %}
