{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}

<head>
  <link href = "style.css" rel = "stylesheet">
  <link href="form-validation.css" rel="stylesheet">

  <div class="container">
    <div class="py-5 text-center text-muted">
      <img class="d-block mx-auto mb-4" src="static/u.png" alt="" width="120" height="120">
        <h2><font color = "white">Profile Details</font></h2>
    </div>
  </div>

</head>

                   {%for card in cards%}
                   <h4><font color = "#ff7214"><strong>Cardholder Name</strong></font></h4>
                    <p><font color = "black">{{card.name_on_card}}</font></p>
                    <h4><font color = "#ff7214"><strong>Card Number</strong></font></h4>
                    <p><font color = "black">xxxx-xxxx-xxxx-{{card.last_four_digits}}</font></p>&nbsp;
                    {%endfor%}

          <img class="d-block mx-auto mb-4" src="static/visa.png" alt="" width="120" height="120">
          <div>

            <h4><font color = "black"><strong>Your Cards</strong></font></h4>
            {%for card in cards%}
              <h3><font color = "black">---------------------------------------</font></h3>
              <h4><font color = "orange"><strong>Cardholder Name</strong></font></h4>
              <p><font color = "black">{{card.name_on_card}}</font></p>
              <h4><font color = "orange"><strong>Card Number</strong></font></h4>
              <p><font color = "black">xxxx-xxxx-xxxx-{{card.last_four_digits}}</font></p>
            {%endfor%}
            <h3><font color = "black">---------------------------------------</font></h3>

            <a href="/add_card"><strong>Add a Card</strong></a></p>
            <a href="/change_password"><strong>Change Password</strong></a>
            <h3><font color = "black">---------------------------------------</font></h3>

          </div>
        </div>
      </div>
      <div class="profile-column">
        <div class="white_one_container">
          <img class="d-block mx-auto mb-4" src="static/ticket.png" alt="" width="120" height="120">

          <div>

            <h4><font color = "black"><strong>Your Tickets</strong></font></h4>
            {%for ticket in tickets%}
              <h3><font color = "black">---------------------------------------</font></h3>
              <h4><font color = "orange"><strong>Film Name</strong></font></h4>
              <p><font color = "black">{{ticket.film_screening.film_details.film_name}}</font></p>
              <h4><font color = "orange"><strong>Screening Time</strong></font></h4>
              <p><font color = "black">{{ticket.film_screening.film_screening_time}}</font></p>
            {%endfor%}
            <h3><font color = "black">---------------------------------------</font></h3>

          </div>


        </div>
      </div>
    </div>
  </div>




</body>







{% endblock %}
