{% extends "base.html" %}
{% block title %}Profile{% endblock %}
   {% block content %}
     <head>
       <link href = "style.css" rel = "stylesheet">
       <link href="form-validation.css" rel="stylesheet">
     </head>
       <div class="container">
         <div class="py-5 text-center text-muted">

           <img class="d-block mx-auto mb-4" src="static/u.png" alt="" width="120" height="120">
           <h2><font color = "white">Profile Details</font></h2>
         </div>
           </div>


           <div class="white_one_container">
             <div class="py-5  text-muted">
               <img class="d-block mx-auto mb-4" src="static/visa.png" alt="" width="120" height="120">
               <div>

                   {%for card in cards%}
                   <h4><font color = "#ff7214"><strong>Cardholder Name</strong></font></h4>
                    <p><font color = "black">{{card.name_on_card}}</font></p>
                    <h4><font color = "#ff7214"><strong>Card Number</strong></font></h4>
                    <p><font color = "black">xxxx-xxxx-xxxx-{{card.last_four_digits}}</font></p>&nbsp;
                    {%endfor%}



                <div>

                    <a href="/add_card"><strong>Add a Card</strong></a>
                </div>
                <div>

                    <a href="/change_password"><strong>Change Password</strong></a>
                </div>

             </div>
           </div>
         </div>


         <div class="white_two_container">
           <div class="py-5  text-muted">
             <img class="d-block mx-auto mb-4" src="static/visa.png" alt="" width="120" height="120">
             <div>

                 {%for card in cards%}
                 <h4><font color = "#ff7214"><strong>Cardholder Name</strong></font></h4>
                  <p><font color = "black">{{card.name_on_card}}</font></p>
                  <h4><font color = "#ff7214"><strong>Card Number</strong></font></h4>
                  <p><font color = "black">xxxx-xxxx-xxxx-{{card.last_four_digits}}</font></p>&nbsp;
                  {%endfor%}
           </div>
         </div>
       </div>








{% endblock %}
