<!DOCTYPE html>
{% extends "base.html" %}
   {% block content %}





  <!-- <div class="media">
    <div class="media-left"
  <img class="img-fluid" src="static/avatar-default.png" alt="Card image">

</div> -->
<body>
	<h1>Profile</h1>

	<center>
		<div class="media">
		  <div class="media">
		    <img src="static/avatar-default.png" class="media" style="width:60px">
		  </div>
		</div>

        <a href="/add_card" align = "center" class="font-weight-light" >Add a Card</a>

	</center>
</body>




{% endblock %}
