.navbar.navbar-inverse {
    background-color: darkgrey;
}

/* Navbar title */

.navbar-inverse .navbar-brand {
    color: white;
}

/* Focus/hover state for navbar title */

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: pink;
}

/* Navbar links default color */

.navbar-inverse .navbar-nav > li > a {
    color: orange;
}

/* Navbar links hover/focus states */

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: orange;
}

/* Active link colors */

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
